body, html
{
    margin: 0;
    padding: 5px;
    font-family: 'Bahnschrift Condensed';
    background: #f7f7f7;
    background-position: center;
    background-size: cover;
}

                         /* header codes */

header
{
    width: 100%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: red;
    align-items: center;
}

header .logo h2
{
    color: white;
    font-size: 25px;
} 

.menu ul
{
    display: flex;
    list-style: none;
}

.menu ul li
{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 30px;
}

.menu ul li a
{
    text-decoration: none;
    color: white;
}

.menu ul li a i
{
    font-size: 25px;
    margin-left: 40px;
    margin-top: -5px;
}