body, html
{
    margin: 0;
    padding: 5px;
    font-family: 'Bahnschrift Condensed';
    background: #f7f7f7;
    background-position: center;
    background-size: cover;
}

                         /* header codes */

header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #00cba9;
    align-items: center;
    border-radius: 5px;
}

header .logo h2
{
    color: white;
    font-size: 25px;
} 

.menu ul
{
    display: flex;
    list-style: none;
}

.menu ul li
{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 30px;
}

@media only screen and (max-width: 600px) 
{

}

@media only screen and (max-width: 600px) 
{

.menu ul li a i
{
    font-size: 20px;
    margin-right: 40px;
}

.menu
{
    position: absolute;
    background: red;
    top: -90px;
    width: 90%;
}

.menu-toggle
{
   margin-top: 90px;
}

header .fa-bars
{
    display: block;
    font-size: 35px;
    color: white;
}

svg{
    margin-top: 500px;
}
}

.menu ul li a
{
    text-decoration: none;
    color: white;
}

.menu ul li a i
{
    font-size: 25px;
    margin-top: -5px;
}

header .fa-bars
{
    display: none;
    font-size: 35px;
    color: white;
}

@media only screen and (max-width: 600px) 
{
    header .fa-bars
{
    display: block;
    font-size: 35px;
    color: white;
}

.content .intro-page
{

}
}

/* content */

.content
{
    flex-wrap: wrap;
    display: flex;
    padding: 80px;
    background: #00cba9;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 5px;
}

.content .intro-page
{
    padding: 10px;
    flex-basis: 40%;
}


.intro-page h2{
    font-size: 45px;
    }

.intro-page h4{
    font-size: 22px;
    font-family:   'Bahnschrift Condensed';
    }
        
    
    .intro-page span{
        color: white;
        font-family:   'Bahnschrift Condensed';
    }

    @media only screen and (max-width: 600px) 
    {
        .intro-page h2{
            font-size: 35px;
            width: 200%;
            }
        .intro-page p
        {
            width: 200%;
        }
        .intro-page h4{
            width: 150%;
            font-size: 17px;
            font-family:   'Bahnschrift Condensed';
            }
    }
    
    .intro-page a
    {
        text-decoration: none;
        border: 1px solid #00cba9;
        color: #00cba9;
        padding: 2px 8px 2px 8px;
        font-family:   'Bahnschrift Condensed';
    }
    
    .intro-page a:hover
    {
       background: #00cba9;
       color: white;
       transition: 2s ease;
    }

    .imag
    {
        flex-basis: 40%;
        background: #00cba9;
        margin-left: 50px;
    }

    svg
    {
        margin-top: 10px;
        height: 100%;
    }

    .about
    {
        width: 100%;
    }



    .links
    {
        position: fixed;
        width: 3%;
        background: #00cba9;
        padding: 10px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: 200px;
    }

    .links i
    {
        font-size: 20px;
        margin-top: 10px;
        padding-left: 20px;
        padding: 8px;
        display: block;
        color: white;
    }

    .links a{
        text-decoration: none;
    }

    @media only screen and (max-width: 1000px) 
    {
        .links
        {
            position: fixed;
            width: 10%;
            background: #00cba9;
            padding: 10px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
        }

        .links i
        {
            font-size: 20px;
            margin-top: 10px;
            padding-left: 20px;
            display: block;
            color: white;
        }
    }