@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body, html
{
    margin: 0;
    font-family: "poppins";
    background: rgb(255, 255, 255);
    color: gray;
    background-position: center;
    background-size: cover;
    overflow-y: scroll;
}

body::-webkit-scrollbar
{
    width: 0;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: white;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #00cba9;
    border-top-color: white;
    border-bottom-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

                         /* header codes */

header
{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #00cba9;
    color: black;
    align-items: center;
    z-index: 2;
}

header .logo
{
    width: 8%;
    color: black;

}

header  img
{
    width: 80%;
}


header .menu
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu li
{
     margin-right: 30px;
}

header .menu li a
{
    text-decoration: none;
    color: white;
    transition: 2s ease;
    padding: 10px;
    font-weight: 600;
}

header .menu li a:hover
{
    background: white;
    color: #00cba9;
    border-radius: 5px;
}

header #btn
{
    display: none;
}

header .fa-bars
{
    font-size: 30px;
    color: white;
    cursor: pointer;
}

header .fa-envelope
{
    font-size: 25px;
    padding: 5px;
    transition: 2s ease;
}

header .fa-envelope:hover
{
    transform: scale(1.1);
}
                                 /* mobile script */

@media only screen and (max-width: 600px) 
{


header .logo
{
    width: 25%;
    color: black;

}

header  img
{
    width: 80%;
}
    header .menu
{
    position: absolute;
    list-style: none;
    background: #00cba9;
    top: 90px;
    width: 80%;
    display: none;
    border-radius: 5px;
    text-align: center;
}

.menu.active
{
    display: block;
    transition: 2s ease;
    z-index: 3;
}

header .menu li
{
    font-size: 17px;
    padding: 25px;
    margin-top: 5px;
    padding-left: 20px;
}

header #btn
{
    background: none;
    display: block;
    border: none;
    cursor: pointer;
}

}

/* contact */
.contact
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mini-text{
     display: flex;  
}

.mini-text .i
{
    margin-top: 30px;
    position: relative;
    left: 30px;
}

.mini-text .i i
{
    background:  #00cba9;
    padding: 20px;
    border-radius: 50%;
    color: white;
}

.text
{
    padding: 20px;
}

.mini-text
{
    margin-top: 12px;
}

.lac 
{
    margin-left: 50px;
}


.lac h1
{
   position: relative;
   top: 10px;
    font-size: 25px;
    font-weight: 500;
    color: black;
}

.lac p
{
    font-size: 13px;
    font-weight: 500;
}

form
{
    padding: 20px;
    width: 50%;
    
}

input
{
    width: 95%;
    height: 40px;
    margin-bottom: 20px;
    outline-color: #f7f7f7;
    padding-left: 20px;
    border: 3px solid #f7f7f7;
    font-weight: 600;
    font-family: 'poppins';
}

textarea
{
    width: 95%;
    padding-left: 20px;
    margin-top: 20px;
    outline-color: #f7f7f7;
    border: 3px solid #f7f7f7;
    font-weight: 600;
    font-family: 'poppins';
}

form button
{
    border: 2px solid #00cba9;
    color: #00cba9;
    padding: 10px;  
    border: 2px solid #00cba9;
    width: 60%;
    margin: 20px;
    transition: 2s ease;
    font-weight: 600;
    cursor: pointer;
    font-family: 'poppins';
}

form button:hover
{
    background: white;
    color: #00cba9;
}

@media only screen and (max-width: 600px) 
{
    form
    {
        padding: 20px;
        width: 100%;
    }  

    input
{
    width: 95%;
    height: 40px;
    margin-bottom: 20px;
    outline-color: #00cba9;
    padding-left: 10px;
    border: 3px solid#00cba9;
}

textarea
{
    width: 95%;
    padding-left: 10px;
    margin-top: 20px;
    outline-color: #00cba9;
    border: 3px solid#00cba9;
}
}

/* footer */

footer
{
    background-color: #00cba9;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px black;
    z-index: 5;
}
address{
    padding-left: 50px;
}
.footer-about p{
    padding-left: 50px;
}
footer ul
{
    list-style: none;
}

footer ul li
{
    position: relative;
    right: 55px;
}

footer ul li a
{
    color: rgb(48, 46, 46);
    text-decoration: none;
}

footer ul li i
{
    padding: 15px;
    color: rgb(48, 46, 46);
}


.links i
{
   padding: 15px;
   margin: 5px;
   border-radius: 50%;
   background: rgba(0, 0, 0, 0.5);
   color: white;
   font-size: 20px;
}

.subs input
{
    width: 60%;
    border: 2px solid #f7f7f7;
}

.subs button
{
   
   border: 2px solid #00cba9;
   color: #00cba9;
   padding: 10px;
   height: 40px;
   cursor: pointer;
}

footer p
{
    color: rgb(48, 46, 46);
}


/* team */

.box
{
    padding: 15px;
}

.team
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    padding: 15px 0 15px 0;
    margin-top: 20px;
}

.members
{
    width: 24%;
   background: transparent;
    margin: 5px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: transparent;
    overflow: hidden;
}

img
{
    width: 100%;
    border-radius: 5px;
}

.team .details
{
    position: relative;
    text-align: center;
    background: white;
    border: 3px solid #f7f7f7;
    color: black;
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-top: -80px;

}

.team .details h3
{
    font-size: 20px;
}

.team .details p
{
    color: gray;
}

.team .details i
{
    font-size: 20px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

#title
{
    padding: 10px;
    padding-left: 50px;
    border-left: 5px solid black;
    color: #00cba9;
}

@media only screen and (max-width: 600px) 
{
    .members
{
    width: 100%;
}

}

.team-intro
{
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
}

.team-intro h2
{
    font-size: 35px;
    color: black;
}
/* about */

.about-page
{
    background: url("../background/pexels-christina-morillo-1181359.jpg"), rgba(0, 0, 0, 0.5);
    color: white;
    background-position: center;
    background-size: cover;
    padding: 10px;
    margin-bottom: 20px;
}

.page
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;  
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}


.about-page .company
{
    flex-basis: 50%;
    padding: 10px;
}

.about-page .company h2
{
    font-size: 50px;
    padding: 20px;
    border-left: 7px solid #00cba9;
}

.about-page .company p
{
    margin-top: -30px;
    padding: 5px;
    width: 90%;
}

.about-page .company a
{
    text-decoration: none;
    color: #00cba9;
    border: 1px solid #00cba9;
    padding: 8px;
}
.about-page .company a:hover{
    background: white;
    border: 2px solid white;
    transition: 2s ease;
}
.cont
{
    display: flex;
}

.our-work
{
    flex-basis: 25%;
    border-radius: 5px;
}

.our-work h2
{
    margin-left: 40px;
}

.our-work .icon
{
    position: relative;
    margin: 5px;
}

.our-work .icon i
{
    font-size: 60px;
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}

.our-work .line
{
    padding: 10px;
}

.our-work .line h4
{
    font-size: 15px;
    padding: 0 20px 0 20px;
}


@media only screen and (max-width: 600px) 
{
    .about-page .company
    {
      flex-basis: 30%;
    }

    .our-work
{
    flex-basis: 80%;
    padding: 20px;
    margin-top: 20px;
}

.about-page .company p
{
    margin-top: -30px;
    padding: 5px;
    width: 96%;
}
}

.about-page a
{
    text-decoration: none;
    color: #00cba9;
    border: 1px solid #00cba9;
    padding: 5px;
    margin-left: 25px;
}
.about-page a:hover{
    background: white;
    border: 2px solid white;
    transition: 2s ease;
}
.line .container{
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
}
.skills{
    text-align: right;
    color: white;
}
.webdev{
    width: 98%;
    background-color: #04AA6D;
    border-radius: 10px;
}
.webdes{
    width: 88%;
    background-color: #2196F3;
    border-radius: 10px;
}
.grapdes{
    width: 80%;
    background-color: #f44336;
    border-radius: 10px;
    margin-bottom: 5px;
}
/* after */

.display
{
    background: url("../background/pexels-vlad-bagacian-3987066.jpg");
    color: white;
    background-position: center;
    background-size: cover;
    padding: 5px;
    margin-top: 40px;
}

.flexin
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
}
.display .all
{
    flex-basis: 50%;
    padding: 10px;
}

.display h1
{
    font-size: 100px;
    font-weight: 800;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.display .all p
{
   position: relative;
   top: -60px;
   width: 80%;
   padding-top: 15px;
   padding-bottom: 15px;
   font-size: 21px;
}

.display .all a
{
    position: relative;
   top: -60px;
    text-decoration: none;
    color: #00cba9;
    border: 2px solid #00cba9;
    padding: 10px;
    margin-left: 15px;
}
.display .all a:hover{
    background: white;
    border: 2px solid white;
    transition: 2s ease;
}

.img
{
    margin-top: 50px;
    padding: 5px;
    width: 30%;
    text-align: center;
    height: 70vh;
}

.img .image-space
{
    background: rgba(0, 0, 0, 0.5);
    height: 70vh;
}

.img .image-space img
{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px)
{
    .img
{
    padding: 5px;
    margin-top: 50px;
    width: 100%;
    height: 60vh;
}

.img .image-space
{
    background: rgba(0, 0, 0, 0.5);
    height: 60vh;
}
    .display
{
    background: url("../background/pexels-vlad-bagacian-3987066.jpg");
    color: white;
    background-position: center;
    background-size: cover;
    padding: 5px;
}

.flexin
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
}

}

@media only screen and (max-width: 600px)
{
    .display .all
{
    flex-basis: 50%;
    padding: 10px;
}
    .display h1
{
    font-size: 80px;
    font-weight: 800;
}
}

/* scroll */

.reveal
{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active1
{
    transform: translateY(0px);
    opacity: 1;
}




/* extra tools */
.tols
{
    color: #2196f3;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

.edited
{
    text-align: center;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 1px #919191, 
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
