body, html
{
    margin: 0;
    padding: 5px;
    font-family: 'Bahnschrift Condensed';
    background: #f7f7f7;
    background-position: center;
    background-size: cover;
    overflow-y: scroll;
}

body::-webkit-scrollbar
{
    width: 0;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: white;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #00cba9;
    border-top-color: white;
    border-bottom-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

                         /* header codes */

header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #00cba9;
    align-items: center;
    border-radius: 5px;
    z-index: 2;
}

header .logo
{
    font-size: 30px;
    color: white;
}


header .menu
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu li
{
     margin-right: 30px;
}

header .menu li a
{
    text-decoration: none;
    color: white;
    transition: 2s ease;
    padding: 10px;
    font-weight: 600;
}

header .menu li a:hover
{
    background: white;
    color: #00cba9;
    border-radius: 5px;
}

header #btn
{
    display: none;
}

header .fa-bars
{
    font-size: 30px;
    color: white;
}

header .fa-envelope
{
    font-size: 25px;
    padding: 5px;
    transition: 2s ease;
}

header .fa-envelope:hover
{
    transform: scale(1.1);
}
                                 /* mobile script */

@media only screen and (max-width: 600px) 
{
    header .menu
{
    position: absolute;
    list-style: none;
    background: #00cba9;
    top: 90px;
    width: 80%;
    display: none;
    border-radius: 5px;
    text-align: center;
}

.menu.active
{
    display: block;
    transition: 2s ease;
    z-index: 3;
}

header .menu li
{
    font-size: 17px;
    padding: 25px;
    margin-top: 5px;
    padding-left: 20px;
}

header #btn
{
    background: none;
    display: block;
    border: none;
}

}

/* contact */
.contact
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mini-text{
     display: flex;  
}

.mini-text .i
{
    margin-top: 30px;
    position: relative;
    left: 30px;
}

.mini-text .i i
{
    background:  #00cba9;
    padding: 20px;
    border-radius: 50%;
    color: white;
}

.text
{
    padding: 20px;
}

.mini-text
{
    margin-top: 12px;
}

.lac 
{
    margin-left: 50px;
}


.lac h1
{
   position: relative;
   top: 10px;
    font-size: 25px;
    font-weight: 500;
}

.lac p
{
    font-size: 13px;
    font-weight: 500;
}

form
{
    padding: 20px;
    width: 50%;
}

input
{
    width: 95%;
    height: 40px;
    margin-bottom: 20px;
    outline-color: #00cba9;
    padding-left: 20px;
    border: 3px solid#00cba9;
    font-weight: 600;
}

textarea
{
    width: 95%;
    padding-left: 20px;
    margin-top: 20px;
    outline-color: #00cba9;
    border: 3px solid#00cba9;
    font-weight: 600;
}

form button
{
    background:  #00cba9;
    color: white;
    padding: 10px;  
    border: 2px solid #00cba9;
    width: 60%;
    margin: 20px;
    transition: 2s ease;
    font-weight: 600;
}

form button:hover
{
    background: white;
    color: #00cba9;
}

@media only screen and (max-width: 600px) 
{
    form
    {
        padding: 20px;
        width: 100%;
    }  

    input
{
    width: 95%;
    height: 40px;
    margin-bottom: 20px;
    outline-color: #00cba9;
    padding-left: 10px;
    border: 3px solid#00cba9;
}

textarea
{
    width: 95%;
    padding-left: 10px;
    margin-top: 20px;
    outline-color: #00cba9;
    border: 3px solid#00cba9;
}
}

/* footer */

footer
{
    background-color: #00cba9;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    border-radius: 5px;
}

footer ul
{
    list-style: none;
}

footer ul li
{
    position: relative;
    right: 55px;
}

footer ul li a
{
    color: white;
    text-decoration: none;
}

footer ul li i
{
    padding: 15px;
}


.links i
{
   padding: 15px;
   margin: 5px;
   border-radius: 50%;
   background: rgba(0, 0, 0, 0.5);
   color: white;
   font-size: 20px;
}

.subs input
{
    width: 60%;
}

.subs button
{
   background: white;
   color: #00cba9;
   border: none;
   padding: 10px;
   height: 40px;
}


/* team */

.team
{
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 10px;
}

.members
{
    width: 24%;
   background: black;
    margin: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

img
{
    width: 100%;
    border-radius: 5px;
}

.team .details
{
    position: relative;
    text-align: center;
    background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.0));
    margin-top: -140px;
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
}

.team .details i
{
    font-size: 18px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#title
{
    padding: 20px;
    padding-left: 50px;
    border-left: 5px solid black;
    color: #00cba9;
}

@media only screen and (max-width: 600px) 
{
    .members
{
    width: 100%;
}

}

/* about */

.about-page
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background: url("../background/pexels-christina-morillo-1181359.jpg"), rgba(0, 0, 0, 0.5);
    color: white;
    background-position: center;
    background-size: cover;
}

.about-page .company
{
    flex-basis: 50%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.about-page .company h2
{
    font-size: 50px;
    padding: 20px;
    border-left: 7px solid #00cba9;
}

.about-page .company p
{
    margin-top: -30px;
    padding: 5px;
    width: 90%;
}

.about-page .company a
{
    text-decoration: none;
    color: #00cba9;
    border: 1px solid #00cba9;
    padding: 8px;
}

.cont
{
    display: flex;
}

.our-work
{
    background: rgba(0, 0, 0, 0.3);
    flex-basis: 25%;
    padding: 20px;
    border-radius: 5px;
}


.our-work .icon
{
    padding: 10px;
    position: relative;
    margin: 5px;
}

.our-work .icon i
{
    font-size: 60px;
    margin-top: 10px;
    color: white;
}

.our-work .line
{
    padding: 10px;
}

.our-work .line h4
{
    font-size: 20px;
    padding: 0 20px 0 20px;
}

.our-work .line p
{
    margin-top: -20px;
    padding: 0 20px 0 20px;
}

@media only screen and (max-width: 600px) 
{
    .about-page .company
    {
      flex-basis: 20%;
    }

    .our-work
{
    flex-basis: 100%;
    padding: 20px;
    margin-top: 20px;
}

.about-page .company p
{
    margin-top: -30px;
    padding: 5px;
    width: 120%;
}



}


.display
{
    background: url("../background/pexels-vlad-bagacian-3987066.jpg");
    color: white;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    padding: 10px;
}

.display .all
{
    text-align: center;
    background: rgba(162, 162, 162, 0.3);
    border-radius: 30px;
}

.display h1
{
    text-align: center;
    font-size: 90px;
    width: 100%;
}


.display a
{
    text-decoration: none;
    background: white;
    color: #00cba9;
    padding: 10px;
}